# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build artifacts (like zip files created by GitHub Actions)
custom_components/naturalflair/*.zip

# Repomix generated outputs
*.repomix
repomix-output*

# Temporary or backup files
*.log
*.tmp
*.swp
*.bak
